.sidebar{
    width: 220px;
    background: rgb(42, 42, 42);
    height: 100vh;
}

.logo{
    padding-top: 15px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h3{
    text-decoration: none;
    color: var(--second-color);
}

.logo img{
    width: 50px;
}

.side__box{
    padding-top: 2rem;
}

.heading{
    padding-left: 2rem;
    color: gray;
    font-size: 14px;
}

.box__two{
    margin-top: 30px;
}


@media (max-width:1200px) {
    .sidebar{
        width: 70px;
        padding-right: 10px;
    }

    .sidebar .heading{
        display: none;
    }

    .logo{
        padding-left: 13px;
    }

    .logo img{
        width: 40px;
    }

    .logo h3{
        display: none;
    }

   
}
@media (max-width:600px) {
    .sidebar{
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 1100;
    }

    .sidebar__show{
        left: 0;
    }


    
}